# Mac.
.DS_STORE

# Node.
node_modules
npm-debug.log

# Vim / Emacs
*~
*.swp
*.swo
*~
*#

# I like tmp folders
tmp

# I like Web Storm
.idea/workspace.xml

# libraries are managed by bower
lib

# build folder
build

# coverage folder
coverage

# distribution
dist

# typings
typings

# legacy
legacy/

# docs-generated
docs-generated

# e2e diffs and run caps
specs/screenshots/diff
specs/screenshots/screen

yarn-error.log