<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="Block Drop is a game about falling blocks">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
      body {
        border: 0;
        background-color: white;
      }
      canvas {
        width: 100vw;
        height: 100vh;
        display: block;
      }
  </style>
</head>

<body>
  <noscript>This game requires JavaScript.  If you want to play please use a web browser with JavaScript enabled.</noscript>
</body>
</html>
