.shadow-angular-red {
  box-shadow: 0px 0px 10px var(--angular-red);
}
.shadow-react-blue {
  box-shadow: 0px 0px 10px var(--react-blue);
}
.shadow-vue-green {
  box-shadow: 0px 0px 10px var(--vue-green);
}

.text-shadow-angular-red {
  text-shadow: 0px 0px 10px var(--angular-red);
}
.text-shadow-react-blue {
  text-shadow: 0px 0px 10px var(--react-blue);
}
.text-shadow-vue-green {
  text-shadow: 0px 0px 10px var(--vue-green);
}

@media (--breakpoint-not-small) {
  .shadow-angular-red {
    box-shadow: 0px 0px 20px var(--angular-red);
  }
  .shadow-react-blue {
    box-shadow: 0px 0px 20px var(--react-blue);
  }
  .shadow-vue-green {
    box-shadow: 0px 0px 20px var(--vue-green);
  }
}
